<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ml.blog.mapper.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.ml.blog.entity.RoleMenu">
    <id column="role_menu_id" jdbcType="INTEGER" property="roleMenuId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
  </resultMap>
  <sql id="Base_Column_List">
    role_menu_id, role_id, menu_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role_menu
    where role_menu_id = #{roleMenuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role_menu
    where role_menu_id = #{roleMenuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ml.blog.entity.RoleMenu">
    insert into role_menu (role_menu_id, role_id, menu_id
      )
    values (#{roleMenuId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ml.blog.entity.RoleMenu">
    update role_menu
    set role_id = #{roleId,jdbcType=INTEGER},
      menu_id = #{menuId,jdbcType=INTEGER}
    where role_menu_id = #{roleMenuId,jdbcType=INTEGER}
  </update>
</mapper>